body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Mitr', sans-serif;
}
body, html {
  height: 100%;
  color: #2f2626;
  line-height: 1.8;
  font-family: 'Mitr', sans-serif;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logonav{
  /*border:2px solid red;*/
  display: flex;
  justify-content: center;
  height: 120px;
}
.logonav img{
  width: 120px;
  height: 120px;
}
.nav{
  display:flex;
  justify-content:center;
  padding: 30px 50px ;
  width: 500px;
  /*border: solid 2px #4242f7;*/
  border-radius:10px;
  margin: 10px 0 0 50px ; /*top left bottom right*/
}
.nav a{
  text-decoration: none;
  margin: 10px 15px;
  font-size: 1.35rem;
  font-family: 'Mitr', sans-serif;;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  color:rgb(35, 70, 230);
}
.nav a::after{
  content:'';
  position: absolute;
  width: 10px;
  opacity: 0;
  height: 5px;
  background-image: linear-gradient(to right,#e4af32,#ed4161);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  transition: 0.4s;
}
.nav a:hover::after{
  width:50%;
  opacity: 1;
}
.bgimg-1 {
  background-image: url("pict/Banner-tingting.jpg");
  min-height: 100%;
}
.bgimg-2 {
  background-image: url("pict/Banner-nonfat.jpg");
  min-height: 100%;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
.w3-col{
  font-family: 'Mitr', sans-serif;
    /*border: 2px red solid;*/
    margin-top: 0%;
}
.w3-col fa{
  font-family: 'Mitr', sans-serif;
    /*border: 2px red solid;*/
    margin-top: 0%;
}
.w3-m6 p{
    /*border: solid red 2px;*/
    margin-top: 5%;
    margin-left: 53%;
}
.contrainer {
  max-width: 960px;
  margin: 0 auto;
}
.contrainer1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  /*border: #46ff5b solid 2px;*/
  height: 400px;
}
.mapouter {
  margin-top: 0%;
    text-align: right;
    height: 300px;
    width: 500px;
    margin-bottom: 50%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 500px;
    /*border: 2px solid red;*/
}
.item{
  /*border: blueviolet solid 2px;*/
  width: 380px;
  margin-left: auto;
  margin-right: 20%;
  padding-top: 20%;
}
.lele{
  /*border: 2px solid red;*/
    width: 300px;
    height: 150px;
    margin-left: 10%;
    margin-top: 0%;
}
.riri{
    display: flex;
    /*border: 2px solid red;*/
    padding: auto;
    margin-top: 0%;
    margin-left: 0%;
    width: 300px;
    height: 150px;
}
.riri a{
  /*border: 2px solid rgb(188, 43, 157);*/
  margin-left: 10px;
  height: 50px;
}

.w3-content {
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  /*border: 2px solid #e4af32;*/
}
.w3-col {
  font-size: 18px;
  font-family: 'Mitr', sans-serif;
}
.new{
  /*border: 2px solid #7332e4;*/
  padding-bottom: 50px;
}
.review{
  margin-top: 0px;
  /*border: 2px solid #000;*/

}
.product-con{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 0.5rem;
}
.product-img img {
display: block;
/*border: 2px #000 solid;*/
padding: 0.5rem;
margin-left: auto;
margin-right: auto;
width: 350px;
}
.product-img a {
width: 350px;
height: 360px;
}
.product-detail {
font-family: 'Mitr', sans-serif;
font-size: large;
text-align: center;
padding: 1rem;
}

.product-detail a {
text-decoration: none;
}
.product-item {
width: 380px;
margin-left: auto;
margin-right: 0%;
margin-bottom: 10px;
box-shadow: 0 0 5px rgba(0 0 0 0.3);
/*border: 2px #000 solid;*/
}
.product-item:hover {
border: 0.2rem solid rgb(189, 199, 228);
transition: 0.3s;
outline: 1px solid white
}
.product-img2 img {
display: block;
/*border: 2px #000 solid;*/
padding: 0.5rem;
margin-left: auto;
margin-right: auto;
width: 350px;
}
.product-img2 a {
width: 350px;
height: 360px;
}

.product-detail2 {
font-family: 'Mitr', sans-serif;
font-size: large;
text-align: center;
padding: 1rem;
}

.product-detail2 a {
text-decoration: none;
}

.product-item2 {
width: 380px;
margin-left: 0%;
margin-right: auto;
margin-bottom: 10px;
box-shadow: 0 0 5px rgba(0 0 0 0.3);
/*border: 2px #000 solid;*/
}

.product-item2:hover {
border: 0.2rem solid rgb(189, 199, 228);
transition: 0.3s;
outline: 1px solid white
}
.review{
padding-top: 50px;
margin-top:0px;
}
.button-62 {
position: absolute;
position: relative;
background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
border: 0;
border-radius: 12px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 2.5;
outline: transparent;
padding: 0 1rem;
text-align: center;
text-decoration: none;
transition: box-shadow .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
left: 43%;
padding-bottom: 5px;
margin-bottom: 20px;
}
.button-62:not([disabled]):focus {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.button-62:not([disabled]):hover {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}